---
import "../styles/global.css";
import "../styles/typography.css";
import "../styles/utils.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Annie Pennell | Software Engineer",
  description = "Annie Pennell is a software engineer making the web better for the world and the people in it through ethical software engineering, driven by accessibility and sustainable web practices.",
} = Astro.props;

const navItems = [
  { href: "/about", title: "About", external: false },
  {
    href: "mailto:annie@sparkbird.works",
    title: "Contact",
    external: true,
  },
];

const footerItems = [
  {
    href: "https://sparkbird.works",
    title: "Sparkbird Works ₊⊹⁺˖",
    external: true,
  },
  {
    href: "https://www.linkedin.com/in/anniepennell/",
    title: "LinkedIn",
    external: true,
  },
  {
    href: "https://github.com/apennell",
    title: "GitHub",
    external: true,
  },
  {
    href: "mailto:annie@sparkbird.works",
    title: "annie@sparkbird.works",
    external: false,
  },
];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <header>
      <a href="/" rel="home"
        ><span aria-hidden="true">&#10039;</span> annie pennell</a
      >

      <nav>
        {
          navItems.map(({ href, external, title }) => (
            <div>
              <a
                href={href}
                target={external ? "_blank" : "_self"}
                rel={external ? "noopener noreferrer" : ""}
              >
                {title}
              </a>
            </div>
          ))
        }
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <div>
        <p>© Annie Pennell 2024</p>
      </div>
      <!-- TODO: handle links using array var -->
      <div class="links-container">
        <div class="links-group">
          <div class="link-item">
            <a href="https://sparkbird.works" target="_blank"
              >Sparkbird Works ₊⊹⁺˖</a
            >
          </div>
          <div class="link-item">
            <a
              href="https://www.linkedin.com/in/anniepennell/"
              target="_blank"
              rel="noopener noreferrer"
            >
              LinkedIn
            </a>
          </div>
        </div>
        <div class="links-group">
          <div class="link-item">
            <a
              href="https://github.com/apennell"
              target="_blank"
              rel="noopener noreferrer"
            >
              GitHub
            </a>
          </div>
          <div class="link-item">
            <a href="mailto:annie@sparkbird.works">annie@sparkbird.works</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: var(--foreground-border);
    border-top: var(--foreground-border);
  }

  a[rel="home"] {
    font-family: var(--font-mono);
    margin-bottom: 0;
    padding: 1rem;
    flex-grow: 2;
    align-self: center;
    border-bottom: 0;

    /* TODO: add additional typography classes in appropriate place */
    font-weight: 600;
  }

  /* TODO: style hover like sparkbird */
  a[rel="home"]:hover {
    color: var(--purple);
  }

  nav {
    display: flex;
  }

  nav > div {
    padding: 1rem;
    border-inline-start: var(--foreground-border);
    font-family: var(--font-mono);
    display: flex;
    align-items: center;
  }

  nav > div > a {
    white-space: nowrap;
  }

  /* TODO: improve alignment of copyright line; fix responsiveness */
  footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: stretch;
  }

  footer > div:first-child {
    align-self: center;
    flex-grow: 2;
    flex-basis: 100%;
    border-top: var(--foreground-border);
    border-bottom: var(--foreground-border);
  }

  footer > div:first-child > p {
    padding: 1rem;
    margin: 0;
  }

  .links-container {
    display: flex;
    flex-wrap: wrap;
  }

  .links-group {
    display: flex;
    text-align: center;
    flex-grow: 1;
    border-top: var(--foreground-border);
    border-inline-end: var(--foreground-border);
  }

  .link-item {
    padding: 1rem;
    border-inline-start: var(--foreground-border);
    font-family: var(--font-mono);
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .link-item > a {
    white-space: nowrap;
    margin: 0 auto;
  }

  @media (min-width: 701px) {
    nav > div {
      padding: 1.5rem 2rem;
    }

    .links-container {
      flex-grow: 1;
      /* border-inline-end: var(--foreground-border); */
    }

    .links-group {
      border: none;
      border-top: var(--foreground-border);
    }

    footer > div:first-child > p,
    .link-item {
      padding: 1.5rem 2rem;
    }

    .links-group:first-child > .link-item:first-child {
      border-inline-start: none;
    }
  }

  @media (min-width: 1121px) {
    footer {
      border-top: var(--foreground-border);
      border-bottom: var(--foreground-border);
    }

    footer > div:first-child {
      border: none;
      flex-basis: auto;
      align-self: stretch;
      border-inline-end: var(--foreground-border);
    }

    .links-container,
    .links-group {
      border: none;
    }
  }
</style>
