---
import type { MDXLayoutProps } from 'astro';
import Hero from '../components/Hero.astro';
import WorkWithMeBanner from '../components/WorkWithMeBanner.astro';
import Layout from './Default.astro';

type Props = MDXLayoutProps<{
  title: string;

  description?: string;

  heading?: string;

  subheading?: string;

  variant?: 'primary' | 'secondary' | 'tertiary';
}>;

const { frontmatter } = Astro.props;
const { title, description, heading, subheading, variant } = frontmatter;
---

<Layout title={`${title} | Annie Pennell`} description={description}>
  {
    heading && (
      <Hero heading={heading} subheading={subheading} variant={variant} />
    )
  }
  <div class="container">
    <div class="block">
      <slot />
    </div>

    <div class="border-top">
      <WorkWithMeBanner />
    </div>
  </div>
</Layout>

<style>
  .container {
    align-self: stretch;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .block {
    gap: 1.25rem;
  }

  .border-top {
    border-top: var(--foreground-border);
  }
</style>
